__pycache__/
bin/
include/
lib/
.venv/
vendor/
media/
node_modules/
.vim/
.tmuxinator/
.cache/
.config/
.local/
.npm/


*~
*.sqlite3
*.db
*.pyc
*.jpg
*.mpeg

.viminfo
.v8flags.3.14.5.9.undefined.json
.bash_history



